<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
  <meta content="Social Distancing Calculator" name="description">
  <link href="/favicon.ico" rel="icon">

  <title>Social Distancing Calculator</title>

  <script>
    const user = <%- JSON.stringify(user) %>;
  </script>
</head>

<body>
  <div class="row" id="app"></div>
  <noscript>
    <strong>We're sorry but this page doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <!-- javascript -->
  <script src="/js/vue.js"></script>
</body>

</html>
